<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Nowa rezerwacja</title>
</head>

<body style="margin:0; padding:0; font-family: Arial, sans-serif; background: #fefafc; color: #444;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; margin:auto; background:#ffffff; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.08); overflow:hidden;">

        <!-- Header -->
        <tr>
            <td style="background: rgb(132, 112, 98); text-align:center; padding:30px;">
                <h1 style="margin:0; font-size:28px; color:#fff;">Nowa rezerwacja</h1>
            </td>
        </tr>

        <!-- Body -->
        <tr>
            <td style="padding:30px;">
                <p style="font-size:16px; line-height:1.6;">
                    Nowa rezerwacja od {{name}}
                </p>

                <table
                    style="margin:20px 0; padding:15px; border:2px dashed #211f1ccc; border-radius:10px; background:rgb(132, 112, 98);"
                    width="100%">
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color:#fff;"><b>Usługa:</b> {{service}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color:#fff;"><b>Data:</b> {{date}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color:#fff;"><b>Godzina:</b> {{time}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color:#fff;"><b>Telefon:</b> {{phone}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color:#fff;"><b>Email:</b> {{email}}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td style="background:#f8f0fb; text-align:center; padding:15px; font-size:12px; color:#888;">
                © 2025 Brows•Zone Aleksandra Szłapa
            </td>
        </tr>
    </table>
</body>

</html>