<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Potwierdzenie rezerwacji</title>
</head>

<body style="margin:0; padding:0; font-family: Arial, sans-serif; background: #fefafc; color: #444 !important;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; margin:auto; background:#ffffff; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.08); overflow:hidden;">
        <tr>
            <td style="background:  rgb(132, 112, 98); text-align:center; padding:30px;">
                <h1 style="margin:0; font-size:28px; color:#fff;">Potwierdzenie rezerwacji</h1>
            </td>
        </tr>
        <tr>
            <td style="padding:30px;">
                <p style="font-size:18px; margin-bottom:20px; color: #444 ">Cześć <b>{{name}}</b>! </p>
                <p style="font-size:16px; line-height:1.6; color: #444 ">
                    Potwierdzamy umówienie wizyty w <b>Brows•Zone Aleksandra Szłapa</b>!
                </p>
                <table
                    style="margin:20px 0; padding:15px; border:2px dashed #211f1ccc; border-radius:10px; background:rgb(132, 112, 98); color: #444 !important;"
                    width="100%">
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color: #444 "><b>Data:</b> {{date}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color: #444 "><b>Godzina:</b> {{time}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; padding:5px 0; color: #444 "><b>Usługa:</b> {{service}}</td>
                    </tr>
                </table>
                <p style="font-size:16px; line-height:1.6; color: #444 ">
                    Przyjdź z uśmiechem 😊 (a jeśli zapomnisz kawy – nie martw się, mamy zapas!).
                </p>
                <p style="font-size:16px; line-height:1.6; margin-top:20px; color: #444 ">
                    Do zobaczenia wkrótce,<br>
                    <b>Ola </b>
                </p>
            </td>
        </tr>
        <tr>
            <td style="background:#f8f0fb; text-align:center; padding:15px; font-size:12px; color:#888;">
                <p style="margin:0;">© 2025 Brows•Zone Aleksandra Szłapa — Podkreślam Twoje naturalne piękno </p>
            </td>
        </tr>
    </table>
</body>

</html>