.mediaSmall {
  @media (max-width: 400px) {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    max-width: 95vw !important;
    word-break: break-word;
  }
}

.small-flex {
  @media (max-width: 400px) {
    display: flex !important;
    flex-direction: column !important;
  }
}

.smallText {
  @media (max-width: 400px) {
    font-size: 12px !important;
  }
}

.smallBlock {
  @media (max-width: 400px) {
    display: block !important;
  }
}
